.aboutMe {
    margin: 1.5rem auto 2rem;
    max-width: 750px;
    display: grid;
    grid-template: auto / 3fr 1fr;
    gap: 1rem;

    @include media('<=650px') {
        margin-top: 0;
    }

    @include media('<=650px') {
        grid-template: auto / auto;
    }

    &__title {
        margin: 0;
        font-size: 2.5rem;
        color: $black-color;
        align-self: flex-end;
    }

    &__description {
        grid-row: 2 / 3;
        margin: 0;
        font-size: 1.3rem;
        line-height: 1.5;

        @include media('<=650px') {
            grid-row: 3 / 4;
        }
    }

    > div {
        margin: 0 auto;
        grid-column: 2 / 3;
        grid-row: 1 / 3;

        @include media('<=650px') {
            grid-column: auto;
            grid-row: 1 / 2;
            max-width: 150px;
        }
    }

    &__img {
        object-fit: cover;
        border-radius: 0.5rem;
    }

    &__contact {
        button {
            background-color: $accent-color;
            margin-top: 1rem;
        }
    }
}
