.aboutMe {
    margin: 1.5rem auto 2rem;
    max-width: 750px;
    display: grid;
    grid-template: auto / 3fr 1fr;
    gap: 1rem;

    @include media('<=650px') {
        grid-template: auto / auto;
    }

    &__title {
        margin: 0;
        font-size: 2.5rem;
        color: $black-color;
        align-self: flex-end;
    }

    &__description {
        grid-row: 2 / 3;
        margin: 0;
        font-size: 1.3rem;
        line-height: 1.5;

        @include media('<=650px') {
            grid-row: 3 / 4;
        }
    }

    &__link {
        position: relative;

        &::after {
            content: '';
            height: 1px;
            width: 0;
            margin-top: 5px;
            background-color: $accent-color;
            display: block;
            position: absolute;
            right: 0;
            transition: 0.4s ease;
        }

        &:hover {
            &::after {
                width: 100%;
                left: 0;
            }
        }
    }

    > div {
        margin: 0 auto;
        grid-column: 2 / 3;
        grid-row: 1 / 3;

        @include media('<=650px') {
            grid-column: auto;
            grid-row: 1 / 2;
            max-width: 200px;
        }
    }

    &__img {
        object-fit: cover;
        border-radius: 0.5rem;

        @include media('<=650px') {
        }
    }
}
