.navigation {
    margin: 0 auto;
    padding: 3rem 0;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('<=750px') {
        padding: 2rem 0;
    }

    &__logo {
        font-size: 1.2rem;
        text-transform: uppercase;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        column-gap: 0.8rem;

        > div {
            width: 25px;
        }
    }

    &__links {
        font-size: 1.1rem;
        display: grid;
        grid-auto-flow: column;
        column-gap: 2rem;
    }

    &__link {
        &-active {
            color: $accent-color !important;

            &::after {
                background-color: $accent-color !important;
                width: 100% !important;
            }
        }
    }

    .link {
        color: $gray-color;

        &::after {
            margin-top: 5px;
            background-color: $gray-color;
        }
    }
}
