.navigation {
    margin: 0 auto;
    padding: 3rem 0;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    &__links {
        font-size: 1.1rem;
        display: grid;
        grid-auto-flow: column;
        column-gap: 2rem;
    }

    &__link {
        color: $gray-color;
        position: relative;

        &::after {
            content: '';
            height: 1px;
            width: 0;
            margin-top: 5px;
            background-color: $gray-color;
            display: block;
            position: absolute;
            right: 0;
            transition: 0.4s ease;
        }

        &:hover {
            &::after {
                width: 100%;
                left: 0;
            }
        }
    }
}
