.home {
    margin: 0 auto 3rem;
    max-width: 1000px;
    min-height: 75vh;

    &__hr {
        margin: 0 auto;
        border: none;
        border-top: 1px solid $gray-color;
    }

    &__posts {
        margin: 2rem auto 0;
        max-width: 750px;
        display: grid;
        grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }

    &__more {
        grid-column: 1 / -1;
        margin: 0 auto;
        width: 100%;
        max-width: 250px;

        button {
            width: 100%;
            color: $black-color;
        }

        &:hover {
            button {
                color: $white-color;
                background-color: rgba($color: $accent-color, $alpha: 0.7);
            }
        }
    }
}
