.post {
    margin: 0 auto;
    padding-bottom: 1rem;
    max-width: 1000px;
    position: relative;
    min-height: 80vh;

    &__container {
        margin: 1.5rem auto 0;
        max-width: 750px;
        display: grid;
        row-gap: 0.5rem;
    }

    &__back {
        z-index: 1;

        &-cover {
            position: absolute;
            top: 1rem;
            left: 0;

            button {
                background-color: $gray-color;
            }
        }

        button {
            background-color: $black-color;
            backdrop-filter: blur(10px);
            display: flex;
            align-items: center;
            justify-content: center;

            @include media('<=750px') {
                font-size: 1rem;
            }

            @include media('<=500px') {
                font-size: 0.8rem;
            }

            > div {
                margin-right: 0.5rem;
                width: 15px;
            }
        }

        &:hover {
            button {
                background-color: rgba($color: $accent-color, $alpha: 0.7);
            }
        }
    }

    > div:not(.post__container) {
        width: calc(100% + 2rem) !important;
        transform: translateX(-1rem);
    }

    &__title,
    &__date,
    &__author {
        margin: 0;
    }

    &__date,
    &__author {
        font-size: 0.9rem;
    }

    &__title {
        color: $black-color;
    }

    main {
        margin-top: 1rem;
        color: $gray-color;
        overflow: hidden;

        > * {
            padding: 0;
        }
    }
}

@supports not (backdrop-filter: blur(10px)) {
    .post {
        &__back {
            button {
                background-color: rgba($color: $gray-color, $alpha: 0.4);
            }
        }
    }
}
