* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: $gray-color;
    background-color: $white-color;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: $accent-color;
    }

    #__next {
        margin: 0 auto;
        padding: 0 1rem;
    }

    img,
    pre {
        border-radius: 0.5rem !important;
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        color: $white-color;
        background-color: rgba($color: $gray-color, $alpha: 0.2);
        border: 1px solid transparent;
        border-radius: 0.5rem;
        transition: 0.4s ease-in-out;
        cursor: pointer;
    }
}
